@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$primary-color: #3f51b5;
$accent-color: #212121;
$bg-color: #fafafa;
$link-color: #3f51b5;
$max-width: 1090px;
$primary-txt-color: #ffffff;
$break-small: 500px;

:root {
	--primary-color: #{$primary-color};
	--accent-color: #{$accent-color};
	--bg-color: #{$bg-color};
	--link-color: #{$link-color};
	--max-width: #{$max-width};
	--primary-txt-color: #{$primary-txt-color};

	--elevation-z3: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
		0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}
* {
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.btn {
	border: 0;
	outline: 0;
	background: transparent;
	padding: 0 16px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	color: var(--primary-txt-color);
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;

	&__inner {
		display: grid;
		grid-auto-flow: column;
		gap: 8px;
		place-items: center;
		padding: 8px 0;
		z-index: 2;
	}

	&__icon {
		width: 18px;
		height: 18px;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: black;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);
	}

	&:hover &__overlay {
		opacity: 0.1;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--primary-color);
	padding: 0 16px;
	box-shadow: var(--elevation-z3);
	z-index: 10;

	&__inner {
		height: 100%;
		margin: auto;
		width: 100%;
		max-width: var(--max-width);
		padding: 8px 0;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr auto auto;
		justify-items: start;

		@media screen and (max-width: $break-small) {
			.btn:not(:nth-child(1)) .btn__txt {
				display: none;
			}
		}
	}
}

.header {
	padding: 100px 0;
	background: var(--primary-color);
	color: var(--primary-txt-color);
	text-align: center;
	&__inner {
		padding: 0 16px;
	}
	&__title {
		font-size: 56px;
		font-weight: 300;
		margin: 16px 0;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 300;
		margin: 16px 0;
	}
}

.footer {
	padding: 16px;
	color: var(--accent-color);
	&__inner {
		height: 48px;
		max-width: var(--max-width);
		margin: auto;
		display: grid;
		place-content: center;
	}
	&__icon {
		width: 18px;
		height: 18px;
		display: inline-block;
		margin: 0 4px;
		vertical-align: text-bottom;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__link {
		text-decoration: none;
		color: var(--link-color);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.05);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all 200ms cubic-bezier(0, 0, 0.2, 1);

	&__center {
		height: 100%;
		max-width: var(--max-width);
		margin: auto;
		position: relative;
	}
	&.show {
		visibility: visible;
		opacity: 1;
	}
	&[colors].show {
		.overlay__inner-colors {
			display: initial;
		}
	}
	&[formats].show {
		.overlay__inner-formats {
			display: initial;
		}
	}
	&__inner {
		position: absolute;
		top: 58px;
		background: #ffffff;
		border-radius: 4px;
		box-shadow: var(--elevation-z3);
		display: none;
	}
	&__carrot {
		content: '';
		position: absolute;
		top: -5px;
		left: calc(50% - 5px);
		height: 10px;
		width: 10px;
		background: rgb(255, 255, 255);
		transform: rotate(45deg);
		box-shadow: var(--elevation-z3);
	}
	&__inner-formats .overlay__carrot {
		left: initial;
		right: 10px;
	}

	&__content {
		height: 100%;
		padding: 8px;
		background: #ffffff;
		border-radius: 4px;
	}

	.grid {
		height: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		&__item {
			width: 50px;
			height: 50px;
		}

		.btn-color-swatch {
			padding: 0;
			width: 100%;
			height: 100%;

			.btn-color-swatch__inner {
				padding: 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				overflow: hidden;
				margin: auto;
			}

			.color-swatch {
				padding: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				padding: 4px;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					border: 1px solid rgba(0, 0, 0, 0.2);
					border-radius: 50%;
				}

				svg {
					display: block;
					opacity: 0;
					visibility: hidden;
					transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
				}

				&.active svg {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	&__inner-formats .grid {
		grid-template-rows: 1fr;

		&__item {
			padding: 0;
			width: initial;
			height: initial;
		}
		.btn {
			color: black;
		}
		.btn::before {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: var(--primary-color);
			display: none;
		}
		.selector-btn.active::before {
			display: initial;
		}
	}
}
